.buttonsDiv{
    border: 1px solid #AAA;
}

.animal-button, .add-animal-button{
  display: inline-block;
  margin: 15px 10px;
  text-decoration: none;
  font-size: 18px;
  color: white;
  padding: .5em 2em;
  letter-spacing: .1em;
  border-radius: 3px;
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  transition: all 300ms;
  background: #3D9970;
}

.animal-button:hover{
    box-shadow: 0px 0px 0px 2px white, 0px 0px 0px 4px #3D9970;
    cursor: pointer;
}

.add-animal-button{
    background: #0074D9;
    border: 1px solid #0074D9;
    margin: 0;
}

.add-animal-button:hover{
    box-shadow: 0px 0px 0px 1px #0074D9 inset, 0px 0px 0px 2px white inset;
    background: #0074D9;
    margin: 0;
}